// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
nav {
    color: #FBDB5C;
    background-color: #0500A9;
}

.bg-myColor {
    background: #0500A9;
    color: #FBDB5C;
}

.text-myColor {
    color: #0500A9;
}